body {
    font-family: "IBM Plex Mono";
    font-size: 1rem;

    background-image: linear-gradient(to bottom right, #ececec, #e3e3e3);

    padding: 0;
    margin: 0;

    min-height: 100vh;
    display: flex;
    /* justify-content: space-between; */
}

@media (max-width: 1200px) {
    body {
        flex-direction: column-reverse;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    #info_table {
        width: 100%;
        min-width: 0;
        max-width: 100%;

    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #0e1fb5;
}

a:visited {
    color: black;
    /* background-color: #d6fa5a50; */
}

.code mark {
    background-color: transparent;
}

.code mark:hover {
    background-color: #d6fa5a;
}


h1 {
    color: black;
    background-color: #e3e3e3;
    /* text-decoration: underline; */
    font-size: 0.9rem;
    font-weight: 900;
}

/* GROUPINGS */

#xp_table,
#info_table {
    padding-right: 10px;
    padding-left: 10px;
}

/* XP TABLE BROAD */

#xp_table {
    flex: 2 1 auto;
    min-width: 850px;
}

#xp_table #xp_line {
    display: flex;
    /* width: max-content; */
    /* justify-content: left; */
}


/* CATEGORIES */

#xp_table #xp_line .code {
    width: 10%;
    min-width: 55px;
    /* background-color: wheat; */
}

#xp_table #xp_line .year {
    text-align: left;
    width: 5%;
    min-width: 45px;
    /* background-color: tomato; */
}

#xp_table #xp_line .name {
    text-align: left;
    width: 50%;
    /* background-color: blueviolet; */
}

#xp_table #xp_line .org {
    text-align: right;
    width: 22%;
    min-width: 120px;
    /* background-color: aquamarine; */
}

#xp_table #xp_line .category {
    width: 15%;
    min-width: 65px;
    text-align: end;
    /* background-color: brown; */
}

/* XP TABLE SUB CATEGORIES */

.audio mark {
    background-color: #f3c4ac;
}

.data mark {
    background-color: #afc5e0;
}

.presentation mark {
    background-color: #e7e683;
}

.project mark {
    background-color: #b7d9b4;
}


.publication mark {
    background-color: #d6d6d6;
}

.teaching mark {
    background-color: #e1cfea;
}


/* INFO TABLE */

#info_table {
    box-sizing: border-box;

    flex: 2 1 auto;

    min-width: 225px;
    max-width: 400px;

    background-image: radial-gradient(#d6fa5a 20%, #0e1fb5, #0e1fb5 80%);
    min-height: 100%;
    padding-bottom: 20px;

}

#info_table p,
li {
    color: white;
    text-align: justify;
}

#info_table a {
    color: black;
    background-color: #d6fa5a;
}

@media (max-width: 1200px) {
    body {
        flex-direction: column-reverse;
        justify-content: center;
    }

    #info_table {
        width: 100%;
        min-width: 0;
        max-width: 100%;

    }

    #xp_table {
        box-sizing: border-box;
        width: 100%;
        min-width: 0;
        max-width: 100%;
        padding: 10px;
        margin: 0;
    }

    #xp_line {
        flex-direction: column;
        justify-content: space-between;
        /* align-items: flex-start; */
    }

    #xp_line .code,
    #xp_line .year,
    #xp_line .name,
    #xp_line .org,
    #xp_line .category {
        box-sizing: border-box;
        width: 100% !important;
        min-width: 0 !important;
        max-width: 100% !important;
        /* text-align: left !important; */
        margin: 0 !important;
        padding: 0 !important;
        /* word-break: break-word !important; */
        /* white-space: normal !important; */
    }
}

/* @media (max-width: 1200px) {} */