a:link, a:visited {
    color: black;
    padding: 0px 0px;
    text-decoration: none;
}

a:hover, a:active {
    color: rgb(150,150,150);
}

body {
  font-size: 24px;
  height: 100%;
  font-family: "Archivo", sans-serif;
  overflow-y: hidden;
}

blockquote {
  font-style: italic;
  font-size: 125%;
}

p {
  line-height: 150%;
}

ul {
      list-style-type: none;
      text-align: right;
      padding-right: 1rem;
}

.content {
    height: 100%;
    min-height: auto;
    width: 55%;
    max-width: 75%;
    position: relative;
    padding-left: 10px;
    top: -20px;
    /*background: #0f0;*/
    overflow-y: hidden;
    z-index: 50;
    /*font-family: "Open Sans", sans-serif;*/
}

.sidebar {
    top: -20px;
    position: fixed;
    margin-left: 47%;
    width: auto;
    height: 105%;
  /*  background: rgba(240, 240, 240, 0.5); */
    z-index: 100;
    font-size: 300%;
    word-wrap: normal;
    overflow: auto;
    line-height: 85%;
}

.supertitle {
  position: fixed;
  width: 100%;
  font-size: 100%;
  z-index: 150;
  opacity: 0.5;
}
