a:link, a:visited {
    color: black;
    padding: 0px 0px;
    text-decoration: none;
}

a:hover, a:active {
    color: rgb(150,150,150);
}

body {
  font-size: 24px;
  height: 100%;
  font-family: "Archivo", sans-serif;
}

blockquote {
  font-style: italic;
  font-size: 125%;
}



ul {
      list-style-type: none;
      text-align: right;
      padding-right: 1rem;
}

.content {
    height: 100%;
    min-height: auto;
    width: 55%;
    max-width: 75%;
    position: relative;
    padding: 35px 10px;
    /*background: #0f0;*/
    overflow: auto;
    z-index: 50;
}

.sidebar {
    top: -30px;
    position: fixed;
    margin-left: 47%;
    width: auto;
    height: 110%;
  /*  background: rgba(240, 240, 240, 0.5); */
    z-index: 100;
    font-size: 300%;
    word-wrap: normal;
    overflow: auto;
    line-height: 85%;
}

.supertitle {
  position: fixed;
  width: 100%;
  font-size: 100%;
  z-index: 150;
  opacity: 0.5;
}
